    <p>To get started with WavePlot, you'll need to download a few files:</p>
    <ul>
        <li>The WavePlot Imager
            <ul>
                <li><a href="{{ url_for('static', filename='win32/WavePlotImager.zip') }}">Windows x86 Binary (for 32 or 64 bit systems)</a></li>
                <li><a href="{{ url_for('static', filename='ubuntu64/WavePlotImager.tar.gz') }}">Ubuntu x64 Binary (for 64 bit systems)</a></li>
                <li><a href="{{ url_for('static', filename='source-unix.tar.gz') }}">Source Code with Makefile for UNIX-based systems</a></li>
                <li><a href="{{ url_for('static', filename='source-win32.zip') }}">Source Code with Makefile for MinGW32 on Windows</a></li>
                <ul>
                    <li>You'll need to download and install libavcodec, libavformat, libavutils (<a href="http://ffmpeg.org/download.html">http://ffmpeg.org/download.html</a>) and <a href="http://www.libpng.org/pub/png/libpng.html">libpng</a> to compile from source.</li>
            </ul>
        </li>

        <li><a href="https://raw.github.com/LordSputnik/waveplot-client/alpha/scanner/scanner.py">The WavePlot Scanner</a>
            <ul>
                <li>You'll first need to install <a href="http://www.python.org/download/releases/2.7/">Python 2.7</a>.</li>
                <li>Then you'll need to download and install <a href="http://code.google.com/p/mutagen/downloads/detail?name=mutagen-1.20.tar.gz">mutagen</a>, using the included installation instructions.</li>
            </ul>
        </li>
    </ul>

    <p>Once you have both of the WavePlot downloads and their dependencies, place WavePlotImager(.exe) and scanner.py in a folder.
    Navigate to the directory with the files you want to analyse for WavePlots, and open a command prompt or terminal.
    Then, in the command prompt or terminal, type "&#60;path_to_scanner&#62;&#47;scanner.py", replacing &#60;path_to_scanner&#62; with the directory containing scanner.py and WavePlotImager</p>

    <p>At this point, email me if it all goes wrong. :)</p>
