<p>A list of WavePlots on the server:</p>

<script src="{{ url_for('static', filename='scripts/list.js') }}"></script>

<table>
{% for recording in recordings %}

    <tr style="height:30px;">
    <td style="width:60px;"><canvas class="thumb_canvas" width="50" height="21" data_path="{{ url_for('static', filename= recording['image_prefix']+'_thumb') }}"></canvas></td>
    <td><a href="{{ url_for('waveplot_display',uuid=recording['waveplot_uuid']) }}">"{{ recording['cached_recording_name'] }}"</a> by <a href="{{ url_for('waveplot_artist',name=recording['cached_release_artist']) }}">{{recording['cached_release_artist']}}</a></td></tr>
{% endfor %}
</table>

<div class="centred"><a href="{{ url_for('waveplot_list',page=next_page) }}">Next Page</a></div>
