
<p>Register to contribute to WavePlot using the form below. You'll recieve an email with further instructions, so make sure it's valid before submitting!</p><br/>

<div class="register">
    <form name="registration" action="submit_form" method="post">
        <div class="register_left">
            MusicBrainz Username:<br/>
            Email Address:
        </div>

        <div class="register_right">
            <input type="text" name="mb_username" /><br />
            <input type="text" name="email" /><br/>
        </div>

        <div class="register_bottom">
            <input type="submit" name="registration" value="Register!" />
        </div>

    </form>
</div>
