<!DOCTYPE html>

<html>

    <head>
        <title>{{ title }}</title>

        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/render.js') }}"></script>
    </head>

    <body>

        <div id="content">

            <div id="render">
                <canvas width="1280" height="401" id="waveplot" data_path="{{ url_for('static', filename=image_prefix) }}"></canvas>
            </div>

            <footer class="centred">
                <span id="copyright">Created by Ben Ockmore | Last Updated 15/02/2013</span>
            </footer>
        </div>
    </body>

</html>
