<div class="container">
    <div class="row">
        <h3>WavePlot <small>{{waveplot.uuid}}</small></h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <canvas waveplot width="400" height="151" class="waveplot-preview" data="waveplot.preview" ng-click="fullWaveplot()" style="padding-top:50px; padding-bottom:50px"></canvas>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <table>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Length</td><td style="padding-left:.5em;">{{waveplot.length}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Trimmed Length</td><td style="padding-left:.5em;">{{waveplot.trimmed_length}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">DR Level</td><td style="padding-left:.5em;">{{waveplot.dr_level}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Source</td><td style="padding-left:.5em;">{{waveplot.source_type}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Bit Rate</td><td style="padding-left:.5em;">{{waveplot.bit_rate}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Bit Depth</td><td style="padding-left:.5em;">{{waveplot.bit_depth}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Sample Rate</td><td style="padding-left:.5em;">{{waveplot.sample_rate}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Audio Channels</td><td style="padding-left:.5em;">{{waveplot.num_channels}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Sonic Hash</td><td style="padding-left:.5em;">{{waveplot.sonic_hash}}</td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Track MBID</td><td style="padding-left:.5em; font-family:monospace;"><small><a href="http://musicbrainz.org/recording/{{data.recording.mbid}}">550e8400-e29b-41d4-a716-446655440000</a></small></td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Recording MBID</td><td style="padding-left:.5em; font-family:monospace;"><small><a href="http://musicbrainz.org/recording/{{data.recording.mbid}}">550e8400-e29b-41d4-a716-446655440000</a></small></td></tr>
                <tr><td style="padding-right:20px; border-right: 1px solid #ccc;">Release MBID</td><td style="padding-left:.5em; font-family:monospace;"><small><a href="http://musicbrainz.org/recording/{{data.recording.mbid}}">550e8400-e29b-41d4-a716-446655440000</a></small></td></tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="cursor:pointer" ng-click="toggleLinks()">
            <h4>Tracks <span class="pull-right" ng-class="links.icon_class"></span></h4>
            <hr/>
        </div>
    </div>
</div>
