<div class="jumbotron">
  <div class="container">
    <h1 translate>TITLE</h1>
    <p translate>LEAD</p>
    <p><a class="btn btn-primary btn-lg">Tell me more!</a></p>
  </div>
</div>

<div class="container">
<p>
    You can use the search box on the left to look up one of the
    recordings in our database, or alternatively select <a href="#">List
    Recordings</a>.
</p>

<p>
    <a href="#">Extreme DRs</a> showcases one of the more interesting features of
    WavePlots - automatic DR Meter compatible dynamic range levels.
</p>

<h3>How It Works</h3>
<p>
    WavePlot currently has two main components, called
    WavePlotImager and scanner.py. WavePlotImager is a program written
    in the C programming language, which can calculate a WavePlot for
    almost any audio file. scanner.py is a Python script file which
    recurses over some directory filled with music, runs WavePlotImager
    on each file, and submits it to the server.
</p>

<p>
    If you're interested in writing your own submission tool,
    scanner.py is the place to borrow code from. I'm going to be
    writing plugins for Picard and beets, among others, in the near
    future, so stay tuned!
</p>

<p>
    In order to submit any WavePlots, you need an editor ID. You can
    get one of these by hitting <a href="#">Register!</a> on the left, agreeing to
    cookies on the site, and providing a valid email address. The
    activation code will then get emailed to you - it is the number in
    the link in the email. You'll need to click the link, and then copy
    and paste that number into the terminal/command prompt when
    scanner.py asks for it.
</p>
</div>
