<div class="jumbotron">
  <div class="container">
    <h1 translate>TITLE</h1>
    <p translate>LEAD</p>
    <p><a class="btn btn-primary btn-lg">Tell me more!</a></p>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest News <a href="https://twitter.com/WavePlot" class="pull-right">
                    <span class="fa fa-twitter"></span> more...</a></h3>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="tweet in tweets" data-ng-bind-html-unsafe="'<small>'+tweet+'</small>'"></li>
                </ul>
            </div>      
        </div>
        <div class="col-md-4">
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="tweet in tweets" data-ng-bind-html-unsafe="'<small>'+tweet+'</small>'"></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Activity <a href=""><span class="pull-right glyphicon glyphicon-refresh"></span></a></h3>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" data-ng-repeat="tweet in tweets" data-ng-bind-html-unsafe="'<small>'+tweet+'</small>'"></li>
                </ul>
            </div>      
        </div>
    </div>
</div>
