<script src="js/render.js"></script>

<h3>A List of WavePlots</h3>
<p>A list of WavePlots on the server:</p>

<table>
   <tr ng-repeat="element in listelements | filter:{'valid':true}" height="30">
      <td width="60"><canvas width="50" height="21" draw></canvas></td>
      <td><a href="" ng-style="element.style" ng-click="displayWavePlot(element.uuid); setRoute(-1)">{{element.title}}</a> by {{element.artist}}</td>
   </tr>
   <tr ng-repeat="element in listelements | filter:{'valid':false}" height="30">
      <td width="60"></td>
      <td></td>
   </tr>
</table>

<div class="pagination-centered">
   <div class="btn-group">
      <button class="btn" ng-click="page = page - 1" ng-disabled="page == 1">&larr;</button>
      <button class="btn" ng-click="page = page + 1" ng-disabled="valid_results < 20">&rarr;</button>
   </div>
</div>