<div class="container">
	<p class="lead" style="margin-top:30px" translate>downloads_lead</p>

	<div class="row text-center">
		<div class="col-xs-6">
			<div class="panel panel-default" id="linux" style="cursor: pointer;" data-ng-click="togglePlatform('linux')" highlight-hover highlight-select>
				<div class="panel-body">
					<span class="fa fa-linux fa-5x"></span>
					<br/>
					<h3>Linux</h3>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default" id="windows" style="cursor: pointer;" data-ng-click="togglePlatform('windows')" highlight-hover highlight-select>
				<div class="panel-body">
					<span class="fa fa-windows fa-5x"></span>
					<br/>
					<h3>Windows</h3>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row text-center">
		<div class="col-xs-4" style="padding:10px">
			<div class="panel panel-default" id="scanner" style="cursor: pointer;" highlight-hover highlight-select>
				<div class="panel-body">
					<span class="fa fa-search fa-5x"></span>
					<br/>
					<h3>Scanner</h3>
				</div>
			</div>
		</div>
		<div class="col-xs-4" style="padding:10px">
			<div class="panel panel-default" id="binaries" style="cursor: pointer;" highlight-hover highlight-select>
				<div class="panel-body">
					<span class="fa fa-cogs fa-5x"></span>
					<br/>
					<h3>Binaries</h3>
				</div>
			</div>
		</div>
		<div class="col-xs-4" style="padding:10px">
			<div class="panel panel-default" id="source" style="cursor: pointer;" highlight-hover highlight-select>
				<div class="panel-body">
					<span class="fa fa-code fa-5x"></span>
					<br/>
					<h3>Code</h3>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row text-center">
		<button type="button" class="btn btn-success btn-lg" data-ng-disabled="download_active()"><span class="fa fa-download" style="margin-right:1em;"></span>Download</button>
	</div>

</div>
